<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" Content-Type="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Zeiterfassung">

  <!-- Hier werden die Stylesheets eingebunden -->
  <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="node_modules/mdbootstrap/css/mdb.min.css" rel="stylesheet">

  <script src="node_modules/jquery/dist/jquery.min.js"></script>

  <!--<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>-->
  <!-- Hier die node Pakete aufrufen-->
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>

  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <!-- Hier wird die app eingebunden-->
  <script src="zeiterfassung.module.js"></script>
  <script src="zeiterfassung.config.js"></script>
  <script src="erfassen/erfassen.component.js"></script>
  <script src="navigationBar/navigationBar.component.js"></script>
  <script src="view/view.component.js"></script>
</head>

<body ng-app="zeiterfassung">
  <div class="content scrollable" id="contentView">
    <div>
       <navigation-Bar></navigation-Bar>
    </div>
    <ui-view id="ng-content">
        {{3+1}}
    </ui-view>
  </div>

</body>
  <script src="node_modules/mdbootstrap/js/mdb.min.js"></script>
